.task{
    display: flex;
    flex-direction: row;
    background-color: #EDF1D6;
    color: black;
    width: 50vw;
    margin: 10px auto;
    font-size: 1.3vw;
    text-align: left;

}

.delete{
    background: none;
    border: none;
}

input[type="checkbox"]{
    width: 1.5vw; 
}

.delete{
    text-align: right;
    float: right;
    width: 40px;
    background-image: url('../../assets/DeleteTask.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin-left: auto;
}
.task-text{
    align-self: baseline;
}
