.task{
    display: flex;
    flex-direction: row;
    background-color: green;
}

/* input[type="checkbox"]{
     width: 2vw; 
    height: 2vw; 
} */

.delete{
    background: none;
    border: none;
    text-align: right;
    float: right;
    width: 40px;
    background-image: url('../../assets/DeleteTask.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
    margin-left: auto;
}

.task-text{
    font-size: 1rem;
}