body {
  background-color: #eefdec;
}
body {
  height: 100%;
  width: 100%;
}
.heading {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3vw;
  height: 5vw;
  margin-top: 2%;
  margin-bottom: 3%;
}
.components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tasks,
.addTask {
  /* width: 50%; */
  height: 80vh;
}
.tasks {
  background-color: #7fa8e6;
}

.addTask {
  background-color: white;
}

.addButton {
  display: none;
  background: none;
  border: none;
  background: url("./assets/addTask.png") no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  position: absolute;
  float: left;
}
@media screen and (max-width: 1100px) {
  /* .addTask {
    display: none;
  }
  .tasks {
    width: 100vw;
  }
  .addButton {
    display: block;
  } */

  .components{
    flex-direction: column;
  }

  .heading{
    font-size: 1.5rem;
    float: left;
    margin-left: 20px;
  }
}
