body {
  background-color: #e5fdd1;
}
body {
  height: 100%;
  width: 100%;
}
.heading {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 3vw;
  height: 5vw;
  margin-top: 2%;
  margin-bottom: 3%;
}
.components {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.tasks,
.addTask {
  width: 50%;
}


